{% extends "base.html" %}
{% block title %}Data Kompleks{% endblock %}
{% block pagetitle %}Data Blok {{ data.blok }} / Nomor {{ data.nomor }} {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-lg-6">
        <form method="post" enctype="multipart/form-data" id="warga-form" action="{% url 'kependudukan:detailKompleks' data.id %}">
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="cluster" class="form-label">Nama Cluster</label>
                <input type="text" class="form-control" id="cluster" name="cluster" maxlength="150" value="{{ data.cluster }}">
            </div>
            <div class="mb-3">
                <label for="blok" class="form-label">Blok</label>
                <input type="text" class="form-control" id="blok" name="blok" aria-describedby="blokHelp" maxlength="10" required value="{{ data.blok }}">
                <div id="blokHelp" class="form-text">Nama Blok saja.</div>
            </div>
            <div class="mb-3">
                <label for="rt" class="form-label">RT</label>
                <input type="text" class="form-control" id="rt" name="rt" maxlength="4" required value="{{ data.rt }}">
            </div>
            <div class="mb-3">
                <label for="rw" class="form-label">RW</label>
                <input type="text" class="form-control" id="rw" name="rw" maxlength="4" required value="{{ data.rw }}">
            </div>
            <div class="mb-3">
                <label for="nomor" class="form-label">Nomor</label>
                <input type="number" class="form-control" id="nomor" name="nomor" maxlength="3" required value="{{ data.nomor }}">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Catatan</label>
                <input type="description" class="form-control" id="description" name="description" maxlength="200" value="{% if data.description == None %}{% else %}{{ data.description }}{% endif %}">
            </div>
            
            <button type="submit" class="btn btn-primary"><i class="bi bi-database-check"></i> Simpan Data Rumah</button>

        </form>
    </div>
    <div class="col-lg-6">
        <div class="py-2">
            <h5>Data Warga Penghuni</h5>
            <p>Berikut ini adalah daftar warga penghuni blok {{ data.blok }} / No. {{ data.nomor }}</p>
            </div>
    </div>
</div>

{% if message %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
    {{ message | safe}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endblock %}

{% block jscript %}
<script>
    
</script>
{% endblock %}