{% extends "base.html" %}
{% load static %}
{% block title %}Generate Laporan Daftar Warga{% endblock %}
{% block pagetitle %}Generate Laporan Daftar Warga{% endblock %}
{% block content %}
<div class="col-lg-8 border-bottom">
    <div class="py-2">
        
        <form method="post" enctype="multipart/form-data" id="warga-form" action="{% url 'kependudukan:pdfWargaReport' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="cluster" class="form-label">Cluster</label>
                <select class="form-select" aria-label="Pilih Cluster" id="cluster" name="cluster">
                    <option value="all">* semua cluster *</option>
                    {% for c in list_cluster %}
                    <option value="{{ c.cluster }}">{{ c.cluster }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="rt" class="form-label">RT</label>
                <input type="text" class="form-control" id="rt" name="rt" maxlength="150" value="" placeholder="kosongkan untuk semua RT">
            </div>
        
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" value="true" id="kepala_keluarga" name="kepala_keluarga">
                <label class="form-check-label" for="kepala_keluarga">
                    Kepala Keluarga saja
                </label>
            </div>

            <div class="mb-3">
                <label for="usia" class="form-label">Usia</label>
                <select class="form-select" aria-label="Pilih Usia" id="usia" name="usia">
                    <option value="all">* semua usia *</option>
                    <option value="lansia">Lansia (> 55 tahun)</option>
                    <!-- <option value="remaja">Remaja (11 - 17 tahun)</option>
                    <option value="dewasa">Dewasa (> 17 tahun)</option>
                    <option value="produktif">Dewasa (18 - 55 tahun)</option> -->
                    <option value="balita">Balita (< 5 tahun)</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="status_tinggal" class="form-label">Status Tinggal</label>
                <select class="form-select" aria-label="Pilih Status" id="status_tinggal" name="status_tinggal">
                    <option value="all">* semua *</option>
                    {% for s in status_tinggal %}
                    <option value="{{ s.0 }}">{{ s.0 }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="file_type" class="form-label">Tipe File</label>
                <select class="form-select" aria-label="Pilih Tipe File" id="file_type" name="file_type">
                    <option value="pdf">PDF</option>
                    <option value="sheet">Google Sheet</option>
                </select>
            </div>
            
            <br>
            <button type="submit" class="btn btn-primary"><i class="bi bi-box-arrow-right"></i> Generate</button>
        </form>
        
    </div>
</div>
{% endblock %}
