{% extends "base.html" %}
{% block title %} Form Kompleks Rumah {% endblock %}
{% block pagetitle %}  <i class="bi bi-geo"></i> </i> Generate Blok Kompleks Rumah {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row">
<form method="post" enctype="multipart/form-data" id="warga-form" action="{% url 'kependudukan:generateKompleks' %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="alamat" class="form-label">Alamat</label>
                <input type="text" class="form-control" id="alamat" name="alamat" maxlength="255" value="{{ alamat }}">
            </div>
            <div class="mb-3">
                <label for="kelurahan" class="form-label">Kelurahan</label>
                <input type="text" class="form-control" id="kelurahan" name="kelurahan" maxlength="150" value="{{ kelurahan }}">
            </div>
            <div class="mb-3">
                <label for="kecamatan" class="form-label">Kecamatan</label>
                <input type="text" class="form-control" id="kecamatan" name="kecamatan" maxlength="150" value="{{ kecamatan }}">
            </div>
            <div class="mb-3">
                <label for="kota" class="form-label">Kota</label>
                <input type="text" class="form-control" id="kota" name="kota" maxlength="150" value="{{ kota }}">
            </div>
            <div class="mb-3">
                <label for="provinsi" class="form-label">Provinsi</label>
                <input type="text" class="form-control" id="provinsi" name="provinsi" maxlength="150" value="{{ provinsi }}">
            </div>
            <div class="mb-3">
                <label for="kode_pos" class="form-label">Kode Pos</label>
                <input type="text" class="form-control" id="kode_pos" name="kode_pos" maxlength="150">
            </div>
            
            <div class="mb-3">
                <label for="rt" class="form-label">RT</label>
                <input type="text" class="form-control" id="rt" name="rt" maxlength="4" required value="{{ rt }}">
            </div>
            <div class="mb-3">
                <label for="rw" class="form-label">RW</label>
                <input type="text" class="form-control" id="rw" name="rw" maxlength="4" required value="{{ rw }}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="cluster" class="form-label">Nama Cluster</label>
                <input type="text" class="form-control" id="cluster" name="cluster" maxlength="150">
            </div>
            <div class="mb-3">
                <label for="blok" class="form-label">Blok</label>
                <input type="text" class="form-control" id="blok" name="blok" aria-describedby="blokHelp" maxlength="10" required>
                <div id="blokHelp" class="form-text">Nama Blok saja.</div>
            </div>
            <div class="mb-3">
                <label for="start_num" class="form-label">Nomor Awal</label>
                <input type="number" class="form-control" id="start_num" name="start_num" maxlength="3" required value="1">
            </div>
            <div class="mb-3">
                <label for="finish_num" class="form-label">Nomor Akhir</label>
                <input type="number" class="form-control" id="finish_num" name="finish_num" maxlength="3" required value="50">
            </div>
            <div class="mb-3">
                <label for="permission_group" class="form-label">Permission Group</label>
                <select class="form-select" aria-label="Pilih Permission Group" id="permission_group" name="permission_group">
                    {% for pg in permission_group %}
                    <option value="{{ pg.id }}">{{ pg.group_name }}</option>
                    {% endfor %}
                </select>

            </div>
        </div>
        <button type="submit" class="btn btn-primary"><i class="bi bi-send"></i> Submit</button>
    </div>
</form>


{% endblock %}
