{% extends "base.html" %}
{% block title %}Daftar Warga{% endblock %}
{% block pagetitle %}Daftar Warga{% endblock %}
{% block content %}
{% load crispy_forms_tags %}  

{% if message != "" %}
<p>{{ message }}</p>
{% endif %}
<form method="get" action="{% url 'kependudukan:listWargaView' %}" class="row g-3">
    <div class="col-auto">
        <input name="search" type="text" class="form-control" id="search">
    </div> 
    <div class="col-auto">
        <button type="submit" id="submitBtn" class="btn btn-info">Cari</button>
    </div>
    
</form>
<table class="table">
    <thead>
        <tr>
            <th>Nama Lengkap</th>
            <th>NIK</th>
            <th>No KK</th>
            <th>No HP</th>
            <th>Alamat</th>
            <th>Blok</th>
            <th>No</th>
            <th>Opsi</th>
        </tr>
    </thead>
    
    {% for w in page_obj %}
    <tr>
        <td>{{ w.nama_lengkap }}</td>
        <td>{{ w.nik }}</td>
        <td>{{ w.no_kk }}</td>
        <td>{{ w.no_hp }}</td>
        <td>{{ w.alamat }}</td>
        <td>{{ w.alamat_blok }}</td>
        <td>{{ w.alamat_nomor }}</td>
        <td><a href="{% url 'kependudukan:formWarga' w.id %}">Ubah</a> | <a href="{% url 'kependudukan:deleteformWarga' w.id %}">Hapus</a></td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="6">Kosong</td>
    </tr>
    {% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}