{% extends "base.html" %}
{% block title %}Daftar Warga{% endblock %}
{% block pagetitle %}Daftar Warga{% endblock %}
{% block content %}
{% load crispy_forms_tags %}  

{% if message %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<form method="get" action="{% url 'kependudukan:listWargaView' %}" class="row g-3">
    <div class="col-auto">
        <input name="search" type="text" class="form-control" id="search">
    </div> 
    <div class="col-auto">
        <select class="form-select" aria-label="Pilih Cluster" id="cluster" name="cluster">
            <option value="all">* semua cluster *</option>
            {% for c in daftar_cluster %}
            <option value="{{ c.cluster }}">{{ c.cluster }}</option>
            {% endfor %}
        </select>
    </div> 
    <div class="col-auto">
        <button type="submit" id="submitBtn" class="btn btn-info">Cari</button>
    </div>
    
</form>
<table class="table">
    <thead>
        <tr>
            <th>Nama Lengkap</th>
            <th>NIK / KK</th>
            <th>No HP</th>
            <th>Alamat</th>
            <th>Cluster</th>
            <th>Blok / No</th>
            <th>Opsi</th>
        </tr>
    </thead>
    
    {% for w in page_obj %}
    <tr>
        <td>{{ w.nama_lengkap }}</td>
        <td>{{ w.nik }} / {{ w.no_kk }}</td>
        <td>{{ w.no_hp }}</td>
        <td>{{ w.alamat }}</td>
        <td>{{ w.kompleks.cluster }}</td>
        <td>{{ w.kompleks }}</td>
        <td><a class="btn btn-primary btn-sm" href="{% url 'kependudukan:formWarga' w.id %}"> <i class="bi bi-pencil"></i> </a> &nbsp; <a class="btn btn-danger btn-sm" href="{% url 'kependudukan:deleteformWarga' w.id %}"><i class="bi bi-trash"></i> </a></td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="6">Kosong</td>
    </tr>
    {% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}